# Database Configuraiton
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# ECR
BACKEND_IMAGE=<account-id>.dkr.ecr.<region>.amazonaws.com/<repository>:<tag>
FRONTEND_IMAGE=<account-id>.dkr.ecr.<region>.amazonaws.com/<repository>:<tag>
